{% extends 'base.twig' %}

{% block content %}
    <h1>Accueil</h1>
    <img src="images/image.webp">
    <p>
        <span>
            Lorem ipsum dolor sit amet,
            consectetur adipisicing elit. Accusamus
            accusantium ad aliquid commodi cum explicabo in iure, laboriosam laborum magnam necessitatibus officiis perferendis quaerat quia quis reprehenderit saepe sunt suscipit.</span><span>Beatae deserunt dolores eum exercitationem ipsa molestiae necessitatibus odit officia possimus repellat reprehenderit sint, tempore voluptatum! A at blanditiis cumque ex magnam, necessitatibus, non quaerat quam recusandae repellendus repudiandae, rerum.</span><span>Aliquam aperiam atque, beatae culpa cumque cupiditate deleniti doloremque eos error explicabo fuga incidunt magni minima officia quas quo reiciendis repudiandae sequi similique sint tempora totam velit voluptas voluptatem voluptatibus!</span><span>A molestias placeat provident quae rerum saepe totam ut. Architecto, assumenda blanditiis doloribus quo recusandae reiciendis velit! At atque dolor excepturi harum, nam perferendis placeat quas quia quod, sed sint.</span><span>A accusamus deleniti dignissimos distinctio dolore dolorem, earum harum id in itaque, magni minus nostrum praesentium quaerat quod quos repellat reprehenderit rerum sed
            sequi, ullam vitae voluptatem. Dolores id, odio.
        </span>
    </p>
{% endblock content %}
